{% extends "templates/layout.html" %}

{% block bodytag %}
<body class="interior">
{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-8 center-block">
			<h1>Code of Conduct</h1>
			<p>BarCamp Green Bay is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age or religion. We do not tolerate harassment of conference participants in any form. Conference participants violating these rules may be sanctioned or expelled from the conference at the discretion of the conference organizers.</p>
			<p>Harassment includes verbal comments that reinforce social structures of domination, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention. Participants asked to stop any harassing behavior are expected to comply immediately.</p>
			<p>If a participant engages in harassing behavior, the conference organizers may take any action they deem appropriate, including warning the offender or expulsion from the conference. If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately.</p>
			<p>Conference staff will be happy to help participants contact venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.</p>
			<p>We expect participants to follow these rules at all conference venues and conference-related social events.</p>
			<h3>Contact Information:</h3>
			<ul>
				<li>Organizer Email: <a href="mailto:info@barcampgb.org">info@barcampgb.org</a></li>
				<li>Organizer Phone Number: 920-403-0630</li>
				<li>Twitter Handle: <a href="https://twitter.com/BarCampGB">@BarCampGB</a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
