{% extends "templates/layout.html" %}

{% block body %}
	This is the body <core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	v
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	v
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	v
	v
	<br><core-icon icon="accessibility"></core-icon>
	v
	v
	v<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	v
		<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	v
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	v
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	v
	v
	<br><core-icon icon="accessibility"></core-icon>
	v
	v
	v<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	v
{% endblock %}