{% extends "templates/layout.html" %}
{% from "partials/gallery.html" import gallery as gallery %}

{% block body %}
<div class="jumbotron">
	<div id="text">
		<h1>{{ event.name }}</h1>
		<p>{{ event.date | date('dddd, MMMM Do') }}<br>
			<a target="_blank" href="{{ event.location.url }}">
				{{ event.location.name }}
				<i class="fa fa-arrow-circle-right"></i>
			</a>
		</p>
		{% if event.registrationOpen %}
			<p>
				{% if user and user.isRegisteredForEvent(event) %}
					<a type="button" class="btn btn-secondary" href="/proposals">
						View proposals
					</a>
				{% else %}
					<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#registerModal">
						Register now
					</button>
				{% endif %}
			</p>
		{% endif %}
	</div>
</div>
{% include "partials/register-modal.html" %}

<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-8 center-block">
				<p class="lead text-center">
					BarCamp Green Bay is a participant-led day of talks, discussions, and activities for sharing knowledge. There's no cost to attend.
				</p>
			</div>
			<div class="col-md-8 center-block">
				<div class="row flex">
					<div class="col-lg-6 flex">
						<div class="card post post-tape-left" style="transform: rotate(-1deg)">
							<h1 class="post-title">Participant-Led</h1>
							<div class="post-body post-body-full">
								<p>Everyone is invited to propose a session topic, and everyone helps make the day run smoothly. This is your chance to share that thing you love.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 flex">
						<div class="card post" style="transform: rotate(0.5deg)">
							<h1 class="post-title">Diverse</h1>
							<div class="post-body post-body-full">
								<p>Any topic is welcome – it's all about sharing knowledge. Past topics include how to crochet a cube, retro gaming, emotional intelligence, and web development. Have a look at <a href="proposals/2015">last year's proposals</a>.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row flex">
					<div class="col-lg-6 flex">
						<div class="card post post-tape-left" style="transform: rotate(-0.3deg)">
							<h1 class="post-title">Safe</h1>
							<div class="post-body post-body-full">
								<p>BarCamp Green Bay is dedicated to a harassment-free conference experience for everyone. Please read our <a href="/coc">code of conduct</a>.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 flex">
						<div class="card post" style="transform: rotate(0.4deg)">
							<h1 class="post-title">Family-Friendly</h1>
							<div class="post-body post-body-full">
								<p>Every year we organize a <strong>KidsCamp</strong> with fun things for children to do so bring yours along and encourage them to present too!</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% if event.registrationOpen %}

<section class="section-pattern">
	<div class="container">
		<div class="col-md-8 center-block">
			<h1 id="how-it-works">How it works</h1>
			{{ gallery('main-carousel', ['assets/images/gallery1.jpg', 'assets/images/gallery2.jpg', 'assets/images/gallery5.jpg', 'assets/images/gallery3.jpg', 'assets/images/gallery6.jpg', 'assets/images/gallery4.jpg', 'assets/images/gallery7.jpg', 'assets/images/gallery8.jpg']) }}
			<div class="card-list">
				<div class="card">
					<div class="card-tag hidden-xs">
						<div class="vertical-center">1</div>
					</div>
					<h1 class="text-center"><a href="/register">Register to attend</a> – it's free!</h1>
					<p>
						Join {{ event.registrants.length }} other people who have registered.
					</p>
				</div>
				<div class="card">
					<div class="card-tag card-tag-inverse hidden-xs">
						<div class="vertical-center">2</div>
					</div>
					<h1 class="text-center">Help out</h1>
					<p>Get the word out, assist with setup, or <a href="https://trello.com/b/sFYk8vrC/barcamp-green-bay" target="_blank">check out the Trello board</a> to see how you can help.</p>
				</div>
				<div class="card">
					<div class="card-tag hidden-xs">
						<div class="vertical-center">3</div>
					</div>
					<h1 class="text-center"><a href="/proposals">Submit a session topic</a></h1>
					<p>A talk, demo, discussion, workshop… whatever works for you! Check out <a href="proposals/2015">last year's proposals</a> for some inspiration.</p>
				</div>
				<div class="card">
					<div class="card-tag card-tag-inverse hidden-xs">
						<div class="vertical-center">4</div>
					</div>
					<h1 class="text-center">Join us on {{ event.date | date('MMMM Do') }}</h1>
					<p>We’ll plan the day’s schedule as a group and get going!</p>
				</div>
			</div>
		</div>
	</div>
</section>

{% else %}

<section class="section-pattern bg-primary">
	<div class="container">
		<div class="col-md-8 center-block">
			<h1>
				Thanks for joining us at {{ event.name }}!
				<i class="fa fa-thumbs-up"></i>
			</h1>
			<p>
				You're awesome, and we're glad you helped make our event special.
			</p>
			<p>
				Didn't make it to {{ event.name }}? Join us next year on the first Saturday of November!
			</p>
		</div>
	</div>
</section>

{% endif %}

<section id="schedule" class="section-divider">
	<div class="container">
		<div class="col-md-8 center-block">
			<h1>Schedule – {{ event.date | date('MMMM Do YYYY') }}</h1>
			<table class="table">
				<tr>
					<td>10:00 a.m.</td>
					<td>Opening Session</td>
				</tr>
				<tr class="row-secondary">
					<td>11:00 a.m.</td>
					<td>Catered Lunch</td>
				</tr>
				<tr>
					<td>1:00 p.m.</td>
					<td>Breakout Session</td>
				</tr>
				<tr>
					<td>2:00 p.m.</td>
					<td>Breakout Session</td>
				</tr>
				<tr>
					<td>3:00 p.m.</td>
					<td>Breakout Session</td>
				</tr>
				<tr>
					<td>4:00 p.m.</td>
					<td>Breakout Session</td>
				<tr>
					<td>5:00 p.m.</td>
					<td>Closing Session</td>
				</tr>
				<tr class="row-secondary">
					<td>5:30 p.m.</td>
					<td>Catered Dinner&mdash;Gallagher's Pizza</td>
				</tr>
				<tr>
					<td>7:00 p.m.</td>
					<td>Unstructured&mdash;play games, hack on some code, or just mingle!</td>
				</tr>
				<tr>
					<td>11:30 p.m.</td>
					<td>Clean-Up</td>
				</tr>
			</table>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="col-md-8 center-block">
			<h1>Sponsors</h1>
			<div class="row">
			{% for sponsor in event.sponsors %}
				<div class="col-md-4">
					<a href="{{ sponsor.url }}" class="thumbnail">
						<img src="{{ sponsor.logoUrl }}" alt="{{ sponsor.name }}" />
					</a>
				</div>
			{% endfor %}
			</div>
			{% if event.registrationOpen %}
				<hr style="margin-top: 20px;" />
				<p>Be part of something amazing.</p>
				<p>Sponsor $50-$200 and we'll add your logo above and give you a shout-out during the event.</p>
				<p>If you have any questions, send an email over to <a href="mailto:info@mg.barcampgb.org">info@mg.barcampgb.org</a>.
				<p>
					<a class="btn btn-success btn-wide" href="{{ event.donateUrl }}">Sponsor BarCamp Green Bay!</a>
				</p>
			{% endif %}
		</div>
	</div>
</section>

{% endblock %}

{% block scripts %}
<script src="/assets/js/client.js"></script>
{% endblock %}
