{% extends "templates/layout.html" %}

{% block body %}

<div class="jumbotron" id="video_container">
  <div id="text">
    <h1>A day of open source knowledge</h1>
    <p>November 1, 2015 • Green Bay, WI</p>
    <p><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#registerModal">Register now</button></p>
  </div>
  <div id="cover_all"></div>
  <div id="main-image"></div>
  <div id="wistia_myb2xirucn" class="wistia_embed backgroundVideo" style="width:920px;height:518px;"></div>
</div>
{% include "partials/register-modal.html" %}
<div class="container" id="main">
	<div class="row section">
		<div class="col-md-8 center-block">
			<p class="lead text-center">BarCamp Green Bay is a participant-led day of talks, discussions, and activities for sharing knowledge.</p>
		</div>
		<div class="col-md-4">
	    <div class="card">
			  <h1>Diverse</h1>
			  <p>Any topic is welcome for a BarCamp session – it's all about sharing knowledge. Past topics include artificial intelligence, retro gaming, emotional intelligence, and web development.</p>
	    </div>
		</div>
		<div class="col-md-4">
	    <div class="card">
			  <h1>Participant-led</h1>
			  <p>Everyone is invited to propose a session topic, and everyone helps to make sure the day goes smoothly. This is your chance to share that thing you love.</p>
	    </div>
		</div>
		<div class="col-md-4">
	    <div class="card">
			  <h1>Free and open</h1>
			  <p>There’s no cost to attend Barcamp. It’s an open environment for sharing knowledge.</p>
	    </div>
		</div>
	</div>
</div>

<div class="section section-inverse">
	<div class="container">
		<div class="col-md-8 center-block">
			<h1 id="how-it-works">How it works</h1>
			<div class="card-list">
				<div class="card">
					<div class="card-tag"></div>
					<h1 class="text-center">Register to attend</h1>
				</div>
				<div class="card">
					<div class="card-tag card-tag-inverse"></div>
					<h1 class="text-center">Help out</h1>
				</div>
			</div>
			<!--<ol>
				<li><a href="/register">Register to attend</a> – it’s free!</li>
				<li>Help out by <a href="/spread-the-word">spreading the word</a>, helping with setup during the event, etc. <a href="#">Contact us</a> to see where you can help.</li>
				<li><a href="/sessions">Submit a session topic</a> – a talk, demo, discussion, workshop… whatever works for you.</li>
				<li>Join us November 1st – we’ll plan the day’s <a href="#schedule">schedule</a> as a group and get going!</li>
				<li>Learn awesome new things, share your favorite things, and make great connections.</li>
			</ol>-->
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="col-md-8 center-block">
			<h1>Schedule</h1>
      <div class="card">
      </div>
		</div>
	</div>
</div>

<div class="section section-inverse">
	<div class="container">
		<div class="col-md-4">
	    <h1>Code of Conduct</h1>
	    <p>BarCamp Green Bay is dedicated to a harassment-free conference experience for everyone. Please read our <a href="#">code of conduct</a>.</p>
	  </div>
	  <div class="col-md-4">
	    <h1>Other info</h1>
	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus bibendum, lacus a malesuada egestas, lectus nibh tempor enim.</p>
	  </div>
	  <div class="col-md-4">
	    <h1>Other info</h1>
	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus bibendum, lacus a malesuada egestas, lectus nibh tempor enim.</p>
	  </div>
	</div>
</div>

<div class="section">
	<div class="container">
	  <div class="col-md-8 center-block">
	    <h1>Sponsors</h1>
	    <p>Be part of something amazing. <a href="#">Sponsor BarCamp Green Bay!</a></p>
	    <p>Consider sponsoring $50-$200 and we will list you on this site and give you a shout-out during the event.</p>
	    <div class="row">
	    	<div class="col-md-4">
	    		<img src="holder.js/100%x150/text:Logo/#FFF:#E7E7E7">
	    	</div>
	    	<div class="col-md-4">
	    		<img src="holder.js/100%x150/text:Logo/#FFF:#E7E7E7">
	    	</div>
	    	<div class="col-md-4">
	    		<img src="holder.js/100%x150/text:Logo/#FFF:#E7E7E7">
	    	</div>
	    	<div class="col-md-4">
	    		<img src="holder.js/100%x150/text:Logo/#FFF:#E7E7E7">
	    	</div>
	    	<div class="col-md-4">
	    		<img src="holder.js/100%x150/text:Logo/#FFF:#E7E7E7">
	    	</div>
	    	<div class="col-md-4">
	    		<img src="holder.js/100%x150/text:Logo/#FFF:#E7E7E7">
	    	</div>
	    </div>
      <a class="btn btn-primary btn-wide" href="#">Sponsor BarCamp Green Bay!</a>
		</div>
	</div>
</div>
<!--
  <hr>
	<p>Next Event:</p>
	<p>{{ event.date }}</p>
	<p>Registrants: {{ event.registrants.length }}</p>
	<p><a href="/proposals">Check out the proposals</a></p>
	<p><a href="/login">Login</a></p>
	<p><a href="/register">Register</a></p>
	This is the body <core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	v
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	v
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	v
	v
	<br><core-icon icon="accessibility"></core-icon>
	v
	v
	v<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	v
		<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	v
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	v
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	v
	v
	<br><core-icon icon="accessibility"></core-icon>
	v
	v
	v<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	<br><core-icon icon="accessibility"></core-icon>
	v-->
{% endblock %}