{% extends "templates/layout.html" %}

{% block bodytag %}
<body class="interior">
{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-7 center-block">
			{% if user and (not proposal or user.canEditProposal(proposal)) %}
				<form class="form" {% if proposal %}action="?_method=PUT"{% endif %} method="post">
					<div class="form-field">
						<label class="field-label" for="proposal-title">
							Title:
						</label>
						<input class="field-control form-control" type="text" id="proposal-title" name="title" value="{{ proposal.title }}" />
					</div>
					<div class="form-field">
						<label class="field-label" for="proposal-description">
							Description:
						</label>
						<textarea class="field-control form-control" id="proposal-description" name="description">{{ proposal.description }}</textarea>
					</div>
					<div class="form-field">
						<button class="btn btn-primary btn-wide" type="submit">Save</button>
					</div>
				</form>
			{% elif not proposal %}
				<a class="btn btn-primary btn-wide" href="/login">Login to propose sessions.</a>
			{% else %}
				<h1>{{ proposal.title }}</h1>
				<p>By: Proposal author</p>
				<p>{{ proposal.description }}</p>
				{% if user %}
				<form action="/proposal/{{ proposal.id }}/vote" method="post">
	        {% if user.hasVotedForProposal(proposal) %}
	          <button class="btn btn-primary" type="submit">Remove Vote <i class="fa fa-times"></i></button>
	        {% else %}
	          <input type="hidden" name="vote" value="add" />
	          <button class="btn btn-primary" type="submit">This sounds cool! <i class="fa fa-heart-o"></i></button>
	        {% endif %}
	      </form>
				{% endif %}
				<hr>
				<a href="/proposals">See all proposals</a>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
