{% extends "templates/layout.html" %}

{% block bodytag %}
<body class="white-background">
{% endblock %}

{% block body %}
<div class="container" id="main">
  <div class="col-md-9 center-block">
  	<h1>Proposals</h1>
  	<p><a class="btn btn-primary btn-wide" href="/proposal">Submit session ideas!</a></p>
  	{% for proposal in proposals %}
    <div class="card card-secondary">
  		<p><h2><a href="/proposal/{{ proposal.id }}">{{ proposal.title }}</a></h2></p>
  		<p>{{ proposal.description }}</p>
  		{% if user and user.canEditProposal(proposal) %}
  			<a href="/proposal/{{ proposal.id }}">Edit</a>
  			<form action="/proposal/{{ proposal.id }}?_method=DELETE" method="post">
  				<button type="submit">Delete</button>
  			</form>
  		{% endif %}
    </div>
  	{% endfor %}
  </div>
</div>
{% endblock %}
