{% extends "templates/layout.html" %}

{% block body %}
	<form class="form" method="post">
		<div class="form-field">
			<label class="field-label" for="login-name">
				Name:
			</label>
			<input class="field-control" type="text" id="login-name" name="name" />
		</div>
		<div class="form-field">
			<label class="field-label" for="login-email">
				Email:
			</label>
			<input class="field-control" type="text" id="login-email" name="email" />
		</div>
		<div class="form-field">
			<label class="field-label" for="login-password">
				Password:
			</label>
			<input class="field-control" type="password" id="login-password" name="password" />
		</div>
		<div class="form-field">
			<label class="field-label" for="register-shirt-size">
				T-shirt size:
			</label>
			<select class="field-control" id="register-shirt-size" name="shirtSize">
				<option value="">Select...</option>
				{% for size in shirtSizes %}
					<option value="{{ size }}">{{ size }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="form-field">
			<button type="submit">
				Register
			</button>
		</div>
	</form>
{% endblock %}