/*
 * Global
 */

body {
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: "ff-tisa-sans-web-pro", sans-serif;
}
.center-block {
  float: none;
}
img {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*
 * Typography
 */

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 17px;
  }
}
body {
  font-size: 1em;
  line-height: 1.35;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  font-family: "ff-nuvo-sc-web-pro", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}
h1 {
  margin-top: 0px;
  font-size: 1.3rem;
}
h2 {
  font-size: 1.1rem;
}
ul {
  padding-left: 20px;
}
ol {
  padding-left: 30px;
}
ul li,
ol li {
  margin-top: 0px;
  margin-bottom: .75rem;
}
blockquote {
  padding-left: .75rem;
  padding-right: .75rem;
  font-size: .9rem;
  line-height: 1.35;
  border-left: none;
}
hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #777;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

/*
 * Navigation
 */

.navbar-default {
  margin-bottom: 0;
  background-color: #025BAC;
  border-bottom: none;
}
.navbar-default .navbar-nav li {
  font-family: "ff-nuvo-sc-web-pro", sans-serif;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.navbar-default .navbar-nav li a {
  color: #FFF;
}
.navbar-default .navbar-nav li .navbar-btn {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #025BAC;
}
.navbar-default .navbar-brand {
  max-width: 90px;
}
.navbar-brand img {
  margin-top: 0;
  margin-bottom: 0;
}

/*
 * Main header
 */

.main-header {
	background-color: #025BAC;
	color: #fff;
	margin: 0;
}
.main-header h1 {
	margin: 0;
	text-align: center;
}
.header {
  position: relative;
  text-align: center;
}
.header-text {
  position: absolute;
  color: #FFF;
  top: 25px;
  width: 100%;
}
.header-text img {
  max-width: 246px;
}
.header-text h1 {
  font-size: 2.5rem;
}

/*.main-header.shrink {
	height: 0px;
}*/
.main-toolbar {
	height: 65px;
}

/*
 * Main
 */

#main {
  margin-top: 1rem;
  background-color: #FFF;
}

/*
 * Section
 */

.section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.section-inverse {
  background-color: #E7E7E7;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*
 * Card
 */

.card {
  position: relative;
  border: 1px solid #E7E7E7;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #FFF;
  margin-bottom: 1rem;
}
.card-tag {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 100px;
  height: 100px;
  background-color: #025BAC;
  border-radius: 50%;
}
.card-tag-inverse {
  background-color: #FFF;
  border: 3px solid #025BAC;
}
.card-list .card {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

/*
 * Footer
 */

footer {
  background-color: #E7E7E7;
  padding-top: 2rem;
  padding-bottom: 3rem;

}