/*
 * Global
 */

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 17px;
  }
}
body {
  font-size: 1em;
  line-height: 1.35;
  font-family: "ff-tisa-sans-web-pro", sans-serif;
  padding-bottom: 60px;
  padding-top: 6rem;
  background-color: #F4EEDF;
}
.center-block {
  float: none;
}
img {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*
 * Typography
 */

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #025BAC;
}
h1 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}
h2 {
  font-size: 1.1rem;
}
ul {
  padding-left: 20px;
}
ol {
  padding-left: 30px;
}
ul li,
ol li {
  margin-top: 0px;
  margin-bottom: .75rem;
}
blockquote {
  padding-left: .75rem;
  padding-right: .75rem;
  font-size: .9rem;
  line-height: 1.35;
  border-left: none;
}
hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #777;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
.lead {
  font-size: 1.5rem;
  margin-bottom: 3.5rem;
  color: #025BAC;
}

/*
 * Navigation
 */

.navbar-default {
  margin-bottom: 0;
  background-color: transparent;
  border-bottom: none;
}
.navbar-default .navbar-nav li {
  font-family: "ff-nuvo-sc-web-pro", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0;
}
.navbar-default .navbar-nav li a img {
  border: 1px solid #FFF;
  box-shadow: 0px 1px 2px rgba(0,0,0,.1);
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-default .navbar-nav li a {
  color: #FFF;
}
.navbar-default .navbar-nav li .navbar-btn {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #025BAC;
}
.navbar-default .navbar-brand {
  max-width: 90px;
}
.navbar-brand img {
  margin-top: 0;
  margin-bottom: 0;
}

/*
 * Jumbotron
 */

.jumbotron {
  text-align: center;
  margin-top: -1.3rem;
  color: #FFF;
  background-color: #025BAC;
}
.jumbotron h1 {
  font-family: "ff-tisa-sans-web-pro", sans-serif;
  font-size: 2.3rem;
  font-weight: normal;
}
.jumbotron p {
  color: #FFF;
  font-size: 1.7rem;
}
.jumbotron .btn {
  margin-top: 1rem;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #FFF;
  color: #FFF;
  font-weight: 700;
}

/*
 * Buttons
 */

.btn {
  padding: 15px;
  font-size: 1rem;
}
.btn-primary {
  background-color: #025BAC;
}
.btn-secondary {
  background-color: #EBCE1A;
}
.btn-wide {
  width: 100%;
}

/*
 * Video embed
 */

.backgroundVideo {
  z-index: 4;
  visibility: hidden;
}
#video_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  opacity: 1;
}
#video_container #text {
  position: absolute;
  z-index: 6;
  text-align: center;
  opacity: 0;
  color: #FFF;
  font-size: 75px;
}
#cover_all {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  height: 100%;
  width: 100%;
}

/*
 * Main
 */

#main {
  margin-top: 1rem;
}

/*
 * Section
 */

.section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.section-inverse {
  background-color: #FFF;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*
 * Card
 */

.card {
  position: relative;
  padding: 1rem;
  background-color: #FFF;
  margin-bottom: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 1px 2px rgba(0,0,0,.1);
}
.card-tag {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 100px;
  height: 100px;
  background-color: #025BAC;
  border-radius: 50%;
}
.card-tag-inverse {
  background-color: #FFF;
  border: 3px solid #025BAC;
}
.card-list .card {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

/*
 * Form
 */

.form-control {
  padding-top: 24px;
  padding-bottom: 24px;
  box-shadow: none;
}
label {
  font-weight: normal;
}

/*
 * Footer
 */

footer {
  background-color: #E7E7E7;
  padding-top: 2rem;
  padding-bottom: 3rem;

}