:host {
	background-color: #1f2036;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-box-align: flex-end;
	-webkit-align-items: flex-end;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	-o-align-items: flex-end;
	align-items: flex-end;
	position: relative;
	z-index: 1;
	height: 286px;
	color: white;
	-webkit-transition: background-color 300ms ease-in;
	transition: background-color 300ms ease-in;
}

polyfill-next-selector {
	content: ':host header';
}
:host ::content header {
	padding: 40px 0;
	width: 100%;
	position: fixed;
	-webkit-transform-origin: top center;
	transform-origin: top center;
}

polyfill-next-selector {
	content: ':host header h1';
}
:host ::content header h1 {
	font-size: 45px !important;
}

polyfill-next-selector {
	content: ':host header.shrink summary';
}
:host ::content header.shrink summary {
	visibility: hidden;
}

polyfill-next-selector {
	content: ':host header.shrink';
}
:host ::content header.shrink {
	position: fixed;
	top: 0;
	pointer-events: none;
	height: 0;
}

polyfill-next-selector {
	content: 'header summary';
}
:host ::content header summary {
	margin-top: 20px;
	opacity: 0.6;
}

@media only screen and (max-width: 580px) {
	:host {
		position: fixed;
		height: 60px !important;
		width: 100%;
		padding-left: 70px;
		-webkit-box-align: center !important;
		-webkit-align-items: center !important;
		-moz-align-items: center !important;
		-ms-align-items: center !important;
		-o-align-items: center !important;
		align-items: center !important;
		box-shadow: 0 1px 5px rgba(0,0,0,0.3);
	}

	polyfill-next-selector {
		content: ':host header';
	}
	:host ::content header {
		display: none;
	}

	polyfill-rule {
		content: 'header#internalheader';
		display: block;
		padding: 0;
	}

	polyfill-rule {
		content: 'header#internalheader h2';
		margin: 0;
	}
}

@media only screen and (max-width: 850px) {
	polyfill-next-selector {
		content: ':host #dropdown-toggle';
	}
	:host ::content #dropdown-toggle {
		z-index: 1000;
	}

	polyfill-next-selector {
		content: ':host dropdown-panel';
	}
	:host ::content dropdown-panel {
		color: black;
	}
}