<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<script src="/vendor/platform/platform.js"></script>
	{% for component in components.vendor %}
		<link rel="import" href="/vendor/{{ component }}/{{ component }}.html">
	{%- endfor %}
	{% for component in components.user %}
		<link rel="import" href="/assets/components/{{ component }}/{{ component }}.html">
	{%- endfor %}
	<!-- <link rel="import" href="/assets/components/site-components.html"> -->
	<link rel="stylesheet" type="text/css" href="/assets/site.css">
</head>
<body fullbleed unresolved>
	<scroll-area>
		<site-banner shortname="BCGB">
			<core-toolbar class="fixed main-toolbar">
				<core-icon-button icon="menu"></core-icon-button>
				<span flex>Welcome {{ user.username }}&nbsp;</span>
				<core-icon-button icon="menu"></core-icon-button>
			</core-toolbar>
			<header class="main-header">
				<h1><img height="200" src="/assets/images/logo-white.png" /></h1>
			</header>
		</site-banner>
		{% for error in errors %}
			<div class="error">{{ error }}</div>
		{% endfor %}
		<article class="main-article">
			{% block body %}{% endblock %}
		</article>

	</scroll-area>
</body>
</html>