<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="/assets/form.css">
	<link rel="stylesheet" type="text/css" href="/assets/site.css">
</head>
<body>
	<div>
		<header class="main-header">
			<h1><img height="200" src="/assets/images/logo-white.png" /></h1>
		</header>
		{% if user %}
		Welcome {{ user.name }}
		{% endif %}
		&nbsp;
		{% for error in errors %}
			<div class="error">{{ error }}</div>
		{% endfor %}
		{% for success in successes %}
			<div class="success">{{ success }}</div>
		{% endfor %}
		<article class="main-article">
			{% block body %}{% endblock %}
		</article>
	</div>
	<!-- <script src="/js/client.js"></script> -->
</body>
</html>