<nav class="navbar navbar-default navbar-fixed-top">
  <div class="header-background"></div>
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/assets/images/logo-icon-color.png" alt="BarCamp Green Bay"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right link-effect">
        <li><a href="/proposals"><span class="fa fa-list-ul"></span><span>Proposals</span></a></li>
        <li><a href="/#schedule"><span class="fa fa-clock-o"></span><span>Schedule</span></a></li>
        <li><a href="/#about"><span class="fa fa-info-circle"></span><span>About</span></a></li>
        <li><a href="/register" class="btn btn-default navbar-btn"><i class="fa fa-pencil-square-o"></i> Register!</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
