<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-background"></div>
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-caret-square-o-down"></i> Menu
      </button>
      <a class="navbar-brand" href="/"><img src="/assets/images/logo-icon-color.png" alt="BarCamp Green Bay"></a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right link-effect">
        <li><a href="/proposals"><span class="fa fa-list-ul"></span><span>Proposals</span></a></li>
        <li><a href="/#schedule"><span class="fa fa-clock-o"></span><span>Schedule</span></a></li>
        <li><a href="/#about"><span class="fa fa-info-circle"></span><span>About</span></a></li>
        <li><a href="http://twitter.com/barcampgb" target="_blank"><span class="fa fa-twitter"></span><span>Twitter</span></a></li>
        <li class="nav-wide"><a href="/register" class="btn btn-default navbar-btn"><i class="fa fa-pencil-square-o"></i> Register!</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container -->
</nav>
