<div id="{{ proposal.id }}" class="card post" {% if proposal.rotate %}style="transform: rotate({{ proposal.rotate }}deg)"{% endif %}>
    <h1 class="post-title"><a href="/proposal/{{ proposal.id }}">{{ proposal.title }}</a></h1>
    <h2 class="post-meta">By {{ proposal.owner.name }}</h2>
    <div class="post-body">
        <p>{{ proposal.description }}</p>
    </div>

    <div class="post-footer">
        <span class="pull-right text-muted">{{ proposal.votes.length }} people like this</span>
        {% if event.registrationOpen and user %}
            {% if user.canEditProposal(proposal) %}
                <div class="post-menu">
                    <a href="/proposal/{{ proposal.id }}" class="btn btn-link"><i class="fa fa-pencil"></i> Edit</a>
                    <form class="form-inline" action="/proposal/{{ proposal.id }}?_method=DELETE" method="post">
                        <button class="btn btn-link" type="submit"><i class="fa fa-trash"></i> Delete</button>
                    </form>
                </div>
            {% else %}
                <form class="pull-left" action="/proposal/{{ proposal.id }}/vote?returnUrl={{ url + '#' + proposal.id | urlencode }}" method="post">
                    {% if user.hasVotedForProposal(proposal) %}
                    <button class="post-action" title="Remove like" type="submit">
                        <i class="text-danger fa fa-heart"></i>
                    </button>
                    {% else %}
                    <input type="hidden" name="vote" value="add" />
                    <button class="post-action" title="I like this!" type="submit">
                        <i class="text-danger fa fa-heart-o"></i>
                    </button>
                    {% endif %}
                </form>
            {% endif %}
        {% endif %}
    </div>

</div>
