{% if event and event.registrationOpen %}
	{% if user and user.isRegisteredForEvent(event) %}
		<h1>You're already registered :)</h1>
	{% else %}
		<form class="form" method="post" action="/register">
			<h1 class="text-center">Register for {{ event.name }}</h1>
			{% if user and user.canRegisterForEvent(event) %}
				<input type="hidden" name="existingUser" value="yes" />
			{% else %}
				<p>
					Already have an account? <a href="/login?returnUrl=/register">Log in</a>
				</p>
				<div class="form-group">
					<input class="form-control" type="text" id="login-name" placeholder="Name" name="name" value="{{ form.name }}" />
				</div>
				<div class="form-group">
					<input class="form-control" type="text" id="login-email" placeholder="Email" name="email" value="{{ form.email }}" />
				</div>
				<div class="form-group">
					<input class="form-control" type="password" id="login-password" placeholder="Password" name="password" />
				</div>
				<div class="form-group">
					<select class="form-control" id="register-shirt-size" name="shirtSize">
						<option value="">Select T-shirt size...</option>
						{% for size in shirtSizes %}
						<option value="{{ size }}" {% if form.size == size %}selected{% endif %}>{{ size }}</option>
						{% endfor %}
					</select>
				</div>
			{% endif %}
			<input type="hidden" name="event" value="{{ event.id }}" />
			<button type="submit" class="btn btn-primary btn-wide">Sign me up!</button>
		</form>
	{% endif %}
{% else %}
	<h1>Registration is not open :(</h1>
{% endif %}
